doctype
html
	head
		title #{title}
		include ./head
	body
		div.wides(style="height:120px; background-color: #FFFFFF")
		div.narrows(style="height:160px; background-color: #FFFFFF")
		block content
		include ./header
		
		include ./footer