extends ../aalayout/layout

block content
	.page#pdfirs_page
		.container.mt-3
			.row.text-right.mt-3
				.col-12
					h3.reloadPdfirs#loading 正在加载... <span class="oi oi-reload"></span>
					h3.reloadPdfirs#loaded(style="display:none") <span class="oi oi-reload"></span>
			#allPdfirs

		.bomNav-first.bg-white
			.row.pt-1
				.col-10
					select#sortSelect.selectPd.custom-select.custom-select-lg.mb-3
						option(value='ctAt_-1') 最新产品
						option(value='sales-all_1') 销量最多
					input#pdCodeName.ipt-50-35(type="text", style="display:none" placeholder='型号或名称搜索', autocomplete="off")
				.col-2.pt-2
					h2#sortToFind <span class="oi oi-magnifying-glass"></span>
					h2#findToSort(style="display:none") <span class="oi oi-sort-descending"></span>
	.page#pdfir_page
		#pdfirInfo
	script(src="/js/cter/aaMain.js")
	script(src="/js/cter/index.js")
	script(src="/js/cter/pdfirs.js")
	script(src="/js/cter/pdfir.js")
	script(src="/js/cter/cter.js")