extends ../aalayout/layout

block content
	.container
		#carouselExampleIndicators.carousel.slide(data-ride="carousel")
			//- .carousel-indicators
			//- 	li(data-target="#carouselExampleIndicators" data-slide-to="0" class="active")
			//- 	li(data-target="#carouselExampleIndicators" data-slide-to="1")
			//- 	li(data-target="#carouselExampleIndicators" data-slide-to="2")
			.carousel-inner
				.carousel-item
					img.d-block.w-100(src="/imgs/sl1.jpg")
					.carousel-caption.d-none.d-md-block
						h5 第一个
						p 第一个
				.carousel-item.active
					img.d-block.w-100(src="/imgs/sl2.jpg")
					.carousel-caption.d-none.d-md-block
						h5 第一个
						p 第一个
				.carousel-item
					img.d-block.w-100(src="/imgs/sl3.jpg")
					.carousel-caption.d-none.d-md-block
						h5 第一个
						p 第一个
			a.carousel-control-prev(href="#carouselExampleIndicators" role="button" data-slide="prev")
				span.carousel-control-prev-icon(aria-hidden="true")
				span.sr-only Previous
			a.carousel-control-next(href="#carouselExampleIndicators" role="button" data-slide="next")
				span.carousel-control-next-icon(aria-hidden="true")
				span.sr-only Next
		.row.mt-5
			.col-md-12.text-center
				h1 店长推荐
			each pdfir in pdfirs
				-a;
				.col-md-4.col-lg-3.mt-3
					include ../product/productCard
		//- .row.mt-5
		//- 	.col-md-12.text-center
		//- 		h1 我的购物车
		//- .row.mt-3.border.p-2
		//- 	.col-md-3.text-center
		//- 		img.card-img-top(src="/imgs/1.jpg")
		//- 	.col-md-6
		//- 		h5.card-title Card title
		//- 		P.card-text Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		//- 		a.btn.btn-primary.btn-block(href="#") Go somewhere
		//- 	.col-md-3.text-center
		//- 		h5 单价: 12.5 €
		//- 		.row
		//- 			.col-3
		//- 				button.btn.btn-info.btn-block(type="button") -
		//- 			.col-6
		//- 				input.iptsty(type="number", value=3)
		//- 			.col-3
		//- 				button.btn.btn-info.btn-block(type="button") +
		//- .row.mt-3.border.p-2
		//- 	.col-md-3.text-center
		//- 		img.card-img-top(src="/imgs/1.jpg")
		//- 	.col-md-6
		//- 		h5.card-title Card title
		//- 		P.card-text Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		//- 		a.btn.btn-primary.btn-block(href="#") Go somewhere
		//- 	.col-md-3.text-center
		//- 		h5 单价: 12.5 €
		//- 		.row
		//- 			.col-3
		//- 				button.btn.btn-info.btn-block(type="button") -
		//- 			.col-6
		//- 				input.iptsty(type="number", value=3)
		//- 			.col-3
		//- 				button.btn.btn-info.btn-block(type="button") +
		//- .row.mt-3.border.p-2
		//- 	.col-md-3.text-center
		//- 		img.card-img-top(src="/imgs/1.jpg")
		//- 	.col-md-6
		//- 		h5.card-title Card title
		//- 		P.card-text Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		//- 		a.btn.btn-primary.btn-block(href="#") Go somewhere
		//- 	.col-md-3.text-center
		//- 		h5 单价: 12.5 €
		//- 		.row
		//- 			.col-3
		//- 				button.btn.btn-info.btn-block(type="button") -
		//- 			.col-6
		//- 				input.iptsty(type="number", value=3)
		//- 			.col-3
		//- 				button.btn.btn-info.btn-block(type="button") +